body {
    margin:0;
    padding:0;
    color:white;
    background-color:black;
    font-size: 16px; 
    font-family:arial;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    height:350px;
    background-color:gray;
}

.menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}

.login {
    margin-left:auto;
}

.menu li + li {
    padding-left:5%
}

.hp__grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.col {
    
    padding:20px;

}

@media only screen and (max-width: 850px) {
    .hp__grid {
        display: grid;
        grid-template-columns: 100%;
    }
}

.image-placeholder {
    height:200px;
    width: 200px;
    background-color:gray;
}

