<!doctype html>
<html>

<head>
    <title>Abair: Black Magic Wars Website</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <nav>
        <div class="container">
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a
                        href="https://docs.google.com/document/d/1BO646eX50PZyDkvjVeUBfFNse4W3FfHIL7M11gSmJgs/edit">Gameplay</a>
                </li>
                <!--  <li>Game</li>
                <li>FAQ</li> 
                <li class="login">Login</li>-->
            </ul>
        </div>
    </nav>
    <section class="hero hero--hp">
        <div class="container">

        </div>
    </section>

    <section class="p-m">
        <div class="container text-center">
            <h2>What is Abair: Wars of Black Magic?</h2>
            <p>Abair is an upcoming online grand strategy trading card game from Black Magic Studios. Our cards
                be bought, sold, and traded on the blockchain as NFTs. Players strategically implment the best decks in
                order to win battles against other players. Read more about gameplay mechanics <a
                    href="https://docs.google.com/document/d/1BO646eX50PZyDkvjVeUBfFNse4W3FfHIL7M11gSmJgs/edit">here</a>.
            </p>

            <p>
                Currently we are working hard with our artists and developers to bring the game to fruition. Help
                support us today!
            </p>

            <div class="m-m"><a class="button button--yellow"
                    href="https://paypal.com/donate/?business=XLQ86SC47JMUN&source=url">Donate</a></div>
        </div>
    </section>
    <!-- <section>
        <div class="container hp__grid ">
            <div class="col">
                <h2>Play</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>

                <div class="image-placeholder"></div>
            </div>
            <div class="col">
                <h2>Trade</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="image-placeholder"></div>
            </div>
            <div class="col">
                <h2>Earn</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="image-placeholder"></div>
            </div>
        </div>
    </section> -->

    <section class="bg--grad-darkred p-m">
        <div class="container grid__2col">


            <div class="text-center">
                <img class="lil-witch" src="/images/lil-witch.png" />
            </div>
            <div class="p-m text-center">
                <h2>Join Us On Discord</h2>
                <p>Come say hi and join our growing community.</p>
                <a class="m-s button button--teal" href="https://discord.com/invite/6aQxH7gRfm">JOIN
                </a>

            </div>
    </section>
    <section>
        <div class="container">
            <div class="twitter center p-m">
                <h2 class="m-m text-center">Latest Updates
                </h2>
                <a class="twitter-timeline" data-theme="dark"
                    href="https://twitter.com/BlkMagicStud?ref_src=twsrc%5Etfw">Tweets by BlkMagicStud</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            </div>
        </div>
    </section>

    <section class="footer text-center">
        <div class="container">
            <p>&copy Black Magic Studios 2021</p>

        </div>
    </section>


</body>

<!--TODO
- fonts
- butons
- hero image
- favicon
- opengraph

-->

</html>