<!doctype html>
<html>

<head>
    <title>Abair: Black Magic Wars Website</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <nav>
        <div class="container">
            <ul class="menu">
                <li>Home</li>
                <li>Deck</li>
                <li>Game</li>
                <li>FAQ</li>
                <li class="login">Login</li>
            </ul>
        </div>
    </nav>
    <section class="hero">
        <div class="container">
            <h1>Hero Title Text</h1>
        </div>
    </section>
    <section>
        <div class="container hp__grid ">
            <div class="col">
                <h2>Play</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>

                <div class="image-placeholder"></div>
            </div>
            <div class="col">
                <h2>Trade</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="image-placeholder"></div>
            </div>
            <div class="col">
                <h2>Earn</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="image-placeholder"></div>
            </div>
        </div>
    </section>


</body>

</html>